---
import Layoutc from "../layouts/Layoutc.astro";
import Form from "../components/Form.astro";

---

<Layoutc title="Contacto">
<div class="flex z-10 justify-center my-10">
    <h1 class=" text-black font-fjallaone font-bold text-4xl">CONTACTA CON EL EQUIPO DE RAVE</h1>
</div>

    <div class="bg-white mx-80 pt-6 rounded shadow-lg">
        <Form />
    </div>
</Layoutc>
