---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ">
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="flex flex-col z-10 justify-center items-center w-full m-auto">
        <div class="flex z-10 justify-center items-center">
            <h1
                class="z-10 text-center font-fjallaone mx-10 my-5 text-5xl font-extrabold"
            >
                Preguntas Frecuentes
            </h1>
        </div>

        <div
            class="z-10 justify-center align-middle items-center  wrapper w-3/6"
        >
            <div
                class="z-10 justify-center items-center tab px-5  bg-white bg-opacity-20 shadow-lg relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq1"
                    class="appearance-none peer"
                />
                <label
                    for="faq1"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl  after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Qué hace Rave?</h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    La aplicación Rave te permite ver películas con tus amigos, mientras hablas y envías mensajes de texto.
                    </p>
                </div>
            </div>
            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq2"
                    class="appearance-none peer"
                />
                <label
                    for="faq2"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Cuánto cuesta Rave?</h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    ¡Rave es gratis! Aunque los usuarios pueden optar por comprar Rave Premium para disfrutar de una experiencia sin publicidad, la aplicación Rave es gratuita en todas las plataformas, incluyendo iOS, Android, Windows y Mac.
                    </p>
                </div>
            </div>
            <div
                class="z-10 tab px-5 bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq3"
                    class="appearance-none peer"
                />
                <label
                    for="faq3"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Qué puedo ver en Rave?</h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                    <p class="mb-4"> 
                        Rave admite contenido de YouTube, Netflix, Amazon Prime, Disney+, HBO Max, Google Drive, Google Photos, Vimeo y más.
                    </p>
                </div>
            </div>

            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq4"
                    class="appearance-none peer"
                />
                <label
                    for="faq4"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Qué dispositivos son compatibles con Rave?</h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    Rave está disponible en iOS (iPhone/iPad), Android, Chromebook, Huawei, Microsoft Windows y Apple Mac.
                    </p>
                </div>
            </div>

            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq5"
                    class="appearance-none peer"
                />
                <label
                    for="faq5"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Con cuántas personas puedo ver videos en Rave?</h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    ¡No hay límite en el número de personas que pueden ver juntas contigo en Rave!                    </p>
                </div>
            </div>

            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq6"
                    class="appearance-none peer"
                />
                <label
                    for="faq6"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Cómo puedo invitar amigos a Rave?
                    </h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    Puedes invitar amigos a Rave enviándoles un enlace a la sala en la que te encuentras, o buscándolos dentro de Rave y enviándoles una invitación.
                </p>
                </div>
            </div>

            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq7"
                    class="appearance-none peer"
                />
                <label
                    for="faq7"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3>¿Cómo puedo usar Google Drive o Google Photos con Rave?
                    </h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    Puedes subir un archivo de video a Google Drive o Google Photos, y luego iniciar sesión en cualquiera de ellas a través de Rave y seleccionar el video para reproducirlo. Puede llevar tiempo, hasta varias horas, que Google renderice el archivo y lo haga reproducible en Rave, ¡así que asegúrate de cargarlo con suficiente anticipación! Puedes agregar subtítulos en Google Drive o Google Photos, y estarán disponibles en Rave.
                </p>
                </div>
            </div>

            <div
                class="z-10 tab px-5  bg-white shadow-lg bg-opacity-20 relative mb-2 rounded-md"
            >
                <input
                    type="radio"
                    name="faq"
                    id="faq8"
                    class="appearance-none peer"
                />
                <label
                    for="faq8"
                    class="flex z-10 items-center align-middle cursor-pointer font-semibold after:content-['▽'] after:absolute after:right-5 after:text-2xl after:text-white peer-checked:after:transform peer-checked:after:rotate-180"
                >
                    <h3 class="mr-5">¿Necesito tener una cuenta de Netflix, Amazon Prime, Disney+ o HBO Max para ver en Rave?
                    </h3>
                </label>
                <div
                class="z-10 answer content mt-4 h-0 transition ease-in-out duration-800 delay-800 overflow-hidden peer-checked:h-full"
                >
                <p class="mb-4"> 
                    Sí, debes tener una suscripción pagada al servicio de transmisión desde el que estás viendo, como Netflix, Amazon Prime, Disney+ o HBO Max. ¡Puedes iniciar sesión en esa cuenta en Rave para ver con amigos!
                </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
