---

---

<header class="flex flex-auto  z-10 ">
    <div class="flex flex-auto w-full mx-20 container-lg align-middle text-center justify-between  z-10">
    <div class="flex">
        <a href="./" class="flex-shrink-0 z-10">
            <img width="224" height="224" src="/public/RaveW.svg" alt="Logo">
        </a>
    </div>
    <nav class="flex flex-row items-center text-1xl font-fjallaone	">
        <a href="./about" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4 z-10">
            Acerca de
        </a>
        <a href="./faq" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4 z-10">
            FAQ
        </a>
        <a href="./prensa" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4 z-10">
            Prensa
        </a>
        <a href="./contac" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white z-10">
            Contacto
        </a>
    </nav>
</div>

</header>